header {
    height: 70px;
    background-image: linear-gradient(to bottom, blue, white);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 3px solid black;
    z-index: 2;
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2017/11/19/20/45/tree-2963800_960_720.jpg);
}
h1 {
    font-size: 30px;
    position: relative;
    bottom: -10px;
    font-family: cursive;
}

ul a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-image: radial-gradient(rgb(124, 185, 206), rgb(7, 7, 80));
    border-radius: 20px;
    border: 2px solid black;
}

nav ul li {
    display: inline;
    float: right;
    position: relative;
    top: -10px;
}
.bio {
    background-color: gray;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px; 
    width: 75%;
}
.bio h2 {
    font-weight: bolder;
    font-size: 20px;
}
main ul {
    margin-top: 100px;
}


footer {
    clear: both;
    height: 30px;
    background-image: linear-gradient(to top, blue, white);
    padding: 10px;
    position: fixed;
    bottom: -5px;
    width: 100%;
    border-top: 3px solid black;
}
aside {
    background-color: chocolate;
    float: right;
    border: 2px solid black;
    border-radius: 20px;
    width: 15%;
    position: relative;
    top: -600px;
    padding: 20px;
    z-index: 1;
}
aside li {
    margin: 0 auto;
}
aside h2 {
    font-weight: bolder;
    font-size: 20px;
}
#recent {
    text-decoration: underline;
}
table {
     /* padding: 20px; */
    margin-left: 22px; 
    max-width: 50%;
}
tr {
    /* margin: 10px; */
    /* padding: 10px; */
}
td {
    /* padding: 10px; */
    background-color: antiquewhite;
    border: 3px solid black;
    width: 15%;
}
.bignbold {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
ol {
    vertical-align: center;
    /* position: relative;
    top: -55px; */
    margin: 0 auto 60px auto;
    width: 90%;
}
table ul {
    margin: 0 auto;
}