body {
    background-image: url("../img/newsprint-background.jpg");
    background-size: 100%;
}
header {
    /* display: inline; */
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 30px;
}
h1 {
    font-size: 70px;
    font-family: serial;
    position: relative;
    left: -120px;
    bottom: -5px;
}
#estd {
    text-align: center;
    border-bottom: 3px solid black;
    padding: 10px;
    font-family: chenier;
    font-size: 20px;
    font-stretch: extra-expanded;
    letter-spacing: 5px;
}
/* https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers */
@font-face {
    font-family: serial;
    src: url(../fonts/Serialpublicationdemo-qxo1.ttf);
}
@font-face {
    font-family: chenier;
    src: url("../fonts/ChenierRegular-8rO2.ttf");
}
main {
    font-family: chenier;
    font-size: 20px;
}
nav {
    float: right;
    margin: 0 auto;
    width: 12%;
    padding: 10px;
    border-left: 3px solid black;
    position: relative;
    right: -220px;
}
li {
    padding: 10px;
    padding-bottom: 30px;
}
li a {
    color: black;
    text-decoration: none;
}
.bio {
    padding: 20px;
    width: 45%;
    border-right: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
ol {
    list-style: upper-roman;
    margin: 0 auto;
    padding: 10px;
}
#contact {
    width: 10%;
}
#email {
    font-family: chenier;
    font-size: 20px;
    border: 3px solid black;
    /* display: inline-block; */
    float: right;
    padding: 10px;
    position: relative;
    top: -73px;
}
#byline {
    font-family: chenier;
    font-size: 20px;
    border: 3px solid black;
    /* display: inline-block; */
    float: left;
    padding: 20px;
    position: relative;
    top: -4px;
}
a:hover {
    font-size: 25px;
}
nav li:hover {
    border: 3px solid black;
}
.bignbold {
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}
#pic {
    font-family: chenier;
    text-align: center;
    position: relative;
    left: 250px;
    bottom: 350px;   
}

#history, #movie {
    float: left;
    /* position: relative;
    bottom: 250px; */
    margin: 30px;
    border-right: 3px solid black;
}
#extras {
    border-top: 3px solid black;
    position: relative;
    bottom: 250px;
}
